.themeSwitch {
  position: absolute;
  right: 4rem;
  bottom: 5rem;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: var(--regular-transition),
  color var(--color-transition) linear;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.365);
}

.dark {
  color: #ffffff;
}

.light {
  color: #ecc838
}