.themeSwitch {
  position: fixed;
  right: 4rem;
  bottom: 5rem;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: var(--regular-transition),
  color var(--regular-duration) linear,
  filter .25s linear; 
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.365);
}

.themeSwitch:hover {
  cursor: pointer;
}

.dark {
  color: #ffffff;
}

.dark:hover {
  filter: var(--lighten-filter);
}

.light {
  color: #ecc838;
}

.light:hover {
  filter: var(--darken-filter);
}