.error-container {
  background-image: url(/public/wip.png);
  background-color: var(--primary-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: var(--regular-transition);
}